* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
  margin-left: 15px;
}
body {
  position: relative;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(#111, #222);
}
.container {
  width: 80%;
  height: 80%;
  background-color: rgba(156, 148, 148, 0.1);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* overflow: hidden; */
}
.cir {
  content: '';
  width: 350px;
  height: 350px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.container .header {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 0 30px;
}
a.logo {
  text-transform: uppercase;
  font-size: 20px;
}
.container .header ul {
  display: flex;
  justify-content: space-between;
}
.container .header ul li a {
  text-transform: capitalize;
}
.cont {
  width: 90%;
  height: 100%;
  margin: 25px auto;
  display: grid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.txt {
  width: 40%;
}
.cont h3 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 50px;
}
.cont p {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .container .header {
    text-align: center;
    flex-direction: column;
  }
  .container .header ul {
    margin-top: 10px;
    justify-content: space-around;
  }
  .cont {
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .cont .txt {
    width: 100%;
  }
  .cont h3 {
    margin: 20px auto 30px auto;
  }
  .cont p {
    line-height: 1.1;
    margin-bottom: 10px;
  }
  .cont img {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .cir {
    width: 500px;
    height: 500px;
    left: 100%;
    top: 150px;
  }
}
